@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f6f7;
    --foreground: #23272f;
    --card: #fff;
    --card-foreground: #23272f;
    --popover: #fff;
    --popover-foreground: #23272f;
    --primary: #2563eb;
    --primary-foreground: #fff;
    --secondary: #f3f4f6;
    --secondary-foreground: #1a1a1a;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #2563eb;
    --accent-foreground: #fff;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #2563eb;
    --radius: 0.8rem;
    --chart-1: #fa8231;
    --chart-2: #1abc9c;
    --chart-3: #34495e;
    --chart-4: #f7b731;
    --chart-5: #fd9644;
  }

  .dark {
    --background: #23272f;
    --foreground: #fafafa;
    --card: #1a1a1a;
    --card-foreground: #fafafa;
    --popover: #1a1a1a;
    --popover-foreground: #fafafa;
    --primary: #f7d7d2;
    --primary-foreground: #fff;
    --secondary: #23272f;
    --secondary-foreground: #fafafa;
    --muted: #23272f;
    --muted-foreground: #bdbdbd;
    --accent: #2563eb;
    --accent-foreground: #fff;
    --destructive: #991b1b;
    --destructive-foreground: #fafafa;
    --border: #23272f;
    --input: #23272f;
    --ring: #2563eb;
    --chart-1: #2563eb;
    --chart-2: #10b981;
    --chart-3: #f59e42;
    --chart-4: #a259f7;
    --chart-5: #eb3b5a;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
/* 
body {
  background: radial-gradient(100% 100% at var(--g6-1-x-position) var(--g6-1-y-position), #fff700 -34%, transparent), radial-gradient(100% 100% at var(--g6-2-x-position) var(--g6-2-y-position), #f179e7 -28%, transparent), radial-gradient(100% 100% at 52% 47%, #00fbff 13%, transparent), #ffffff;
  animation-name: g-6;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  transition-timing-function: ease-in;
}

@property --g6-1-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 89.7265625%;
}

@property --g6-1-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10.468750000000004%;
}

@property --g6-2-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 15.546875000000004%;
}

@property --g6-2-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 85.234375%;
}

:root {
  --g6-1-x-position: 89.7265625%;
  --g6-1-y-position: 10.468750000000004%;
  --g6-2-x-position: 15.546875000000004%;
  --g6-2-y-position: 85.234375%;
}

@keyframes g-6 {
  50% {
    --g6-1-x-position: 16.718750000000004%;
    --g6-1-y-position: 83.1640625%;
    --g6-2-x-position: 86.2890625%;
    --g6-2-y-position: 14.882812499999998%;
  }
} */
